@model Template.Services.Shared.CreateTaskCommand
@inject Template.Services.Shared.SharedService SharedService



<div id="task-form">
    <div class="container-lg">
        <div class="row justify-content-center ">
            <div class="col-12 col-md-6 col-lg-8" style="margin: 0 auto;">
                <form method="post" action="@Url.Action("Create", "Task", new { area = "Features" })" class="onit-form-sm border rounded p-4 bg-light" id="create-form">
                    <input id="edit-form-submitter" class="d-none" type="submit" />
                    <fieldset class="pb-3">
                        <legend class="info mt-4 mb-4">Crea Task</legend>

                        <!-- Titolo -->
                        <div class="form-group mb-3">
                            <label for="Titolo">Titolo</label>
                            <input name="Titolo" v-model="task.Titolo" class="form-control form-control-sm" id="Titolo" required />
                        </div>

                        <!-- Priorità -->
                        <div class="form-group mb-3">
                            <label for="Priorità">Priorità</label>
                            <select name="Priorità" v-model="task.Priorità" class="form-control form-control-sm" id="Priorità" required>
                                <option value="">Seleziona</option>
                                <option value="2">Alta</option>
                                <option value="1">Media</option>
                                <option value="0">Bassa</option>
                            </select>
                        </div>

                        <!-- Tipologia -->
                        <div class="form-group mb-3">
                            <label for="Tipologia">Tipologia</label>
                            <select name="Tipologia" v-model="task.Tipologia" class="form-control form-control-sm" id="Tipologia" required>
                                <option value="">Seleziona</option>
                                <option value="Interno">Interno</option>
                                <option value="Esterno">Esterno</option>
                            </select>
                        </div>

                        <!-- Stato -->
                        <div class="form-group mb-3">
                            <label for="Stato">Stato</label>
                            <select name="Stato" v-model="task.Stato" class="form-control form-control-sm" id="Stato" required>
                                <option value="">Seleziona</option>
                                <option value="InAttesa">In Attesa</option>
                            </select>
                        </div>

                        <!-- Data di Scadenza -->
                        <div class="form-group mb-3">
                            <label for="DataScadenza">Data di Scadenza</label>
                            <input name="DataScadenza" v-model="task.DataScadenza" type="date" class="form-control form-control-sm" id="DataScadenza" />
                        </div>

                        <!-- Descrizione -->
                        <div class="form-group mb-3">
                            <label for="Descrizione">Descrizione</label>
                            <textarea name="Descrizione" v-model="task.Descrizione" class="form-control form-control-sm" id="Descrizione" rows="4" required></textarea>
                        </div>

                        <!-- Pulsante Salva -->
                        <div class="text-right mt-3">
                            <button type="button" class="btn btn-success px-4" onclick="document.getElementById('edit-form-submitter').click()">
                                <span class="d-inline d-sm-none"><i class="fa-solid fa-floppy-disk"></i></span>
                                <span class="d-none d-sm-inline"><i class="fa-solid fa-floppy-disk"></i>&nbsp;Salva</span>
                            </button>
                        </div>
                    </fieldset>
                </form>


            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="/js/bundle-vue.js" asp-append-version="true"></script>
    <script src="~/Areas/Example/Tasks/Edit.js" asp-append-version="true"></script>
    <script src="~/js/signalRConnectionManager.js" asp-append-version="true"></script>

    <script type="application/json" id="Seed_JSON">
        @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model))
    </script>

    <script type="text/javascript">
        var signalRManager = new SignalRConnectionManager("/templateHub", "@Model.Id", "JoinGroup", "LeaveGroup");
        signalRManager.registerEvents();
        signalRManager.startConnection();

        var editModel = new Vue({
            el: '#task-form',
            data: {
                task: JSON.parse(document.getElementById("Seed_JSON").innerText),
                formSubmitted: false,
                dateError: false
            },
            methods: {
                submitForm: function () {
                    this.formSubmitted = true;
                    this.dateError = false;

                    const creazione = new Date();
                    const scadenza = new Date(this.task.DataScadenza);

                    if (creazione > scadenza) {
                        this.dateError = true;
                        return;
                    }

                    if (this.task.Titolo && this.task.Priorità !== null && this.task.Tipologia && this.task.Stato && this.task.Descrizione && this.task.DataScadenza && !this.dateError) {
                        document.getElementById('edit-form-submitter').click();
                    }
                }
            }
        });
    </script>
}
