# Cache e file temporanei
**/*.cache
**/*.editorconfig
**/*.log

# Cartelle di build
**/bin/
**/obj/

# File di Visual Studio
.vs/
**/*.suo
**/*.user

# Node.js 
Template.Web/node_modules/
Template.Web/package-lock.json
